<%- include('partials/header.ejs') %>

    <h1><%= produitSearch.nom %></h1>
    <p class="produitInfos">Description : <%= produitSearch.description %> </p>
     <p class="produitInfos">Prix : <%= produitSearch.price %> </p>
     <p class="produitInfos">Catégorie : <%= produitSearch.categorie %> </p>
     <p class="produitInfos">Image : <%= produitSearch.image %> </p>
    <%- include('partials/footer.ejs') %> %>